		/* https://int10h.org/oldschool-pc-fonts/download/ */

/*
text = color0
border = color1
backround = color2
background2 = color3
*/

* {
	font-family: "JetBrains Mono Nerd Font";
  border-radius: 0px;
  font-size: 17px;
  color: --wofi-color0;
	background: none;
}

window {
  background-color: rgba(--wofi-rgb-color3, 0.9);
  padding: 0px 0px 0px 2px;
	border-radius: 20px;
	border: 3px solid --wofi-color1;
}

#input {
	background: none;
  padding: 2px 8px;
  margin: 5px 3px;
	border-radius: 10px;
	border: 2px solid --wofi-color1;
}

#input:selected {
  background-color: --wofi-color2;
	border: 3px solid --wofi-color1;
}

#outer-box {
  padding: 5px 5px 0px 5px;
  margin: 5px 3px;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  color: #7f849c;
  margin-left: 10px;
  border: none;
  outline: none;
  word-wrap: break-word;
	font-weight: bold;
}

#entry {
	border-radius: 2px;
  margin: 3px 1px;
  outline: none;
  width: 90%;
}


#entry:selected {
	background-color: rgba(--wofi-rgb-color0, 1);
	background-color: --wofi-color2;
	background: none;
  width: 90%;
}

#entry:selected #text {
  color: --wofi-color0;
	background: none;
}

#entry.activatable #text {
  padding: 5px 5px;
  margin: 5px 3px;
  outline: none;
  width: 90%;
}


#img {
  padding: 2px 2px;
  background: none;
}

#img:selected {
}

