		/* https://int10h.org/oldschool-pc-fonts/download/ */

/*
text = color0
background = color1
background2 = color2
shadow = color3
sheen = color4
*/

* {
  outline: none;
}

window {
  padding: 0px 0px 0px 2px;
  color: --wofi-color0;
  font-family: "MxPlus IBM VGA 8x16";
  font-size: 17px;

  background-color: --wofi-color1;
  background-image: 
    linear-gradient(to right, --wofi-color2 1px, transparent 1px),
    linear-gradient(to bottom, --wofi-color2 1px, transparent 1px);
  background-size: 2px 2px; 

	border-top: 2px solid --wofi-color4;
	border-left: 2px solid --wofi-color4;
	border-right: 2px solid --wofi-color1;
	border-bottom: 2px solid --wofi-color3;
	border-bottom: 2px solid --wofi-color1;
}

#input {
  padding: 5px 5px;
  margin: 5px 3px;
  background-color: --wofi-color2;
  color: --wofi-color0;
  border-radius: 0px;
  font-family: "MxPlus IBM VGA 8x16";
  font-size: 17px;
  border-top: 2px solid --wofi-color3;
  border-left: 2px solid --wofi-color3;
  border-right: 2px solid --wofi-color4;
  border-bottom: 2px solid --wofi-color4;
  box-shadow: 1px 1px 0px 0px --wofi-color1 inset;
}

#input:selected {
  background-color: --wofi-color2;
}

#inner-box {
  padding: 3px 3px;
  margin: 5px 5px;
  background-color: --wofi-color1;

  background-image: 
    linear-gradient(to right, --wofi-color2 1px, transparent 1px),
    linear-gradient(to bottom, --wofi-color2 1px, transparent 1px);
  background-size: 2px 2px; 
  color: --wofi-color0;
  font-family: "MxPlus IBM VGA 8x16";
  font-size: 17px;
  border-top: 2px solid --wofi-color3;
  border-left: 2px solid --wofi-color3;
  border-right: 2px solid --wofi-color4;
  border-bottom: 2px solid --wofi-color4;
  box-shadow: 1px 1px 0px 0px --wofi-color1 inset;
  outline: none;
  width: 100%;
}

#outer-box {
  padding: 5px 5px;
  margin: 5px 3px;
  background-color: --wofi-color2;
  color: --wofi-color0;
  font-family: "MxPlus IBM VGA 8x16";
  border-top: 2px solid --wofi-color4;
  border-left: 2px solid --wofi-color4;
  border-right: 2px solid --wofi-color1;
  border-bottom: 2px solid --wofi-color1;
  box-shadow: 2px 2px 0px 0px --wofi-color3;
  margin-right: 5px;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin-left: 10px;
	font-family: "MxPlus IBM VGA 8x16";
  font-size: 17px;
  border: none;
  color: --wofi-color0;
  outline: none;
  word-wrap: break-word;
}

#entry.activatable #text {
  padding: 5px 5px;
  margin: 5px 3px;
  background-color: --wofi-color2;
  color: --wofi-color0;
  font-family: "MxPlus IBM VGA 8x16";
  font-size: 17px;
  border-top: 2px solid --wofi-color4;
  border-left: 2px solid --wofi-color4;
  border-right: 2px solid --wofi-color1;
  border-bottom: 2px solid --wofi-color1;
  box-shadow: 2px 2px 0px 0px --wofi-color3;
  outline: none;
  width: 90%;
}

#entry {
  margin: 3px 1px;
  background-color: --wofi-color2;
  color: --wofi-color0;
  font-family: "MxPlus IBM VGA 8x16";
  border-top: 2px solid --wofi-color4;
  border-left: 2px solid --wofi-color4;
  border-right: 2px solid --wofi-color1;
  border-bottom: 2px solid --wofi-color1;
  box-shadow: 2px 2px 0px 0px --wofi-color3;
  outline: none;
  width: 90%;
}

#entry:selected {
  color: --wofi-color0;
  border-top: 2px solid --wofi-color3;
  border-left: 2px solid --wofi-color3;
  border-right: 2px solid --wofi-color4;
  border-bottom: 2px solid --wofi-color4;
  box-shadow: 1px 1px 0px 0px --wofi-color1 inset;
  text-shadow: none;
  background-color: --wofi-color2;
  outline: none;
  width: 90%;
}

#img {
  filter: grayscale(100%);
  padding: 2px 2px;
  border-left: 1px solid --wofi-color4;
  border-top: 1px solid --wofi-color4;
  border-bottom: 1px solid --wofi-color1;
  border-right: 1px solid --wofi-color1;
  box-shadow: 1px 1px 1px 0px --wofi-color3;
  background: none;
  outline: none;
}

#img:selected {
  box-shadow: 2px 2px 1px 0px --wofi-color3;
}

#entry:selected #text {
  font-family: "MxPlus IBM VGA 8x16";
  font-size: 17px;
  color: --wofi-color0;
  text-shadow: none;
  outline: none;
  width: 90%;
}
