@define-color grey #c2b9b1;
@define-color red #f25a67;
@define-color light-red #f25a67;
@define-color green #26b562;


* {
	margin: 1px 2px 2px 1px;
    border-radius: 0;
    font-family: "Mx437 IGS VGA 8x16";
    font-size: 17px;
    min-height: 0;
    color: #141414;
}


window#waybar {
  background-color: #c2b9b1;
  background-image: 
    linear-gradient(to right, #f9efe4 1px, transparent 1px),
    linear-gradient(to bottom, #f9efe4 1px, transparent 1px);
  background-size: 2px 2px; 
}

#workspaces button,
#mode,
#battery,
#cpu,
#memory,
#network,
#pulseaudio {
	background: #f9efe4;
	margin: 3px 2px;
	padding: 2px 16px 2px 6px;
	border-top: 2px solid #ffffff;
	border-left: 2px solid #ffffff;
	border-right: 2px solid @grey;
	border-bottom: 2px solid @grey;
	box-shadow: 2px 2px 0px 0px #141414;
}

window#waybar {
	border-bottom: 2px solid #141414;
}

#workspaces button.focused,
#clock,
#tray,
#window,
#mode,
#custom-spotify {
	background: #f9efe4;
	padding: 1px 10px;
	border-top: 2px solid #141414;
	border-left: 2px solid #141414;
	border-right: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;

	
	box-shadow: 1px 1px 0px 0px @grey inset;
}

#workspaces button, #workspaces button.focused {
	margin: 1px 3px 1px 2px;
	padding: 3px 4px;
}

#workspaces button.focused {
	background: #f9efe4;
	font-weight: bold;
}

#custom-spotify {
	padding: 0px 6px;
}


#workspaces button.focused {
	font-weight: bold;
}
#window {
	margin: 3px 100px 3px 100px;
	padding: 2px 10px;
}

#battery.charging {
	color: @green;
}

#battery.warning:not(.charging) {
	color: @red;
}

#battery.critical:not(.charging) {
	background: @grey;
	color: @light-red;
}

#network.disconnected {
	padding: 2px 8px 2px 12px;
}
