@import "mocha.css";

@define-color color0 #11111b;
@define-color color1 #f38ba8;
@define-color color2 #a6e3a1;
@define-color color3 #f9e2af;
@define-color color4 #89b4fa;
@define-color color5 #cba6f7;
@define-color color6 #89dceb;
@define-color color7 #a6adc8;

@define-color color8 #1e1e2e;
@define-color color9 #f5c2e7;
@define-color color10 #94e2d5;
@define-color color11 #f5e0dc;
@define-color color12 #74c7ec;
@define-color color13 #b4befe;
@define-color color14 #b9dceb;
@define-color color15 #cdd6f4;

@define-color active #c39bb8;
@define-color inactive #866a7f;

* {
    border: none;
    border-radius: 0;
    font-family: "Ubuntu Nerd Font";
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: @color0;
		border: @color12;
    color: @color7;
}

#window {
    font-weight: bold;
    font-family: "Ubuntu";
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
		border-radius: 3px;
    padding: 0 5px;
    background: transparent;
    color: @color13;
}

#workspaces button.focused {
    color: @color0;
		background: @color13;
}

#mode {
    background: @color0;
    border-bottom: 3px solid @color7;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 3px;
    margin: 0 2px;
}

#clock {
    font-weight: bold;
}

#battery {
}

#battery icon {
    color: @color1;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: @color1;
        color: @color0;
    }
}

#battery.warning:not(.charging) {
    color: @color9;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: @color9;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#tray {
}

