
* {
	margin: 1px 2px 2px 1px;
    border-radius: 0;
    font-family: "Sans Serif";
    font-size: 16px;
    min-height: 0;
		background: #bebebe;
    color: #000000;
}

window#waybar {
	padding: 2px 2px;
	margin: 5px 5px;
		border-top: 2px solid #ffffff;
		border-left: 2px solid #ffffff;
		border-right: 2px solid #000000;
		border-bottom: 2px solid #000000;
}


#workspaces button {
	margin: 1px 3px 1px 2px;
	padding: 3px 4px;
		border-top: 2px solid #ffffff;
		border-left: 2px solid #ffffff;
		border-right: 2px solid #7e7e7e;
		border-bottom: 2px solid #7e7e7e;
    box-shadow: 2px 2px 0px 0px #000000;
}

#workspaces button.focused {
		border-top: 2px solid #000000;
		border-left: 2px solid #000000;
		border-right: 2px solid #ffffff;
		border-bottom: 2px solid #ffffff;
    box-shadow: 1px 1px 0px 0px #000000 inset;
		font-weight: bold;
    color: #000000;
}

#mode {
	margin: 3px 2px;
	padding: 2px 1px;
    background: #cccccc;
		border-top: 2px solid #ffffff;
		border-left: 2px solid #ffffff;
		border-right: 2px solid #7e7e7e;
		border-bottom: 2px solid #7e7e7e;
    box-shadow: 2px 2px 0px 0px #000000;
}

 #battery, #cpu, #memory, #network, #pulseaudio {
		border-top: 2px solid #ffffff;
		border-left: 2px solid #ffffff;
		border-right: 2px solid #7e7e7e;
		border-bottom: 2px solid #7e7e7e;
    box-shadow: 2px 2px 0px 0px #000000;
	margin: 3px 2px;
	padding: 2px 16px 2px 6px;
}

#clock, #tray, #window, #mode{
	margin: 3px 2px;
	padding: 2px 10px;
	font-weight: bold;
		border-top: 2px solid #000000;
		border-left: 2px solid #000000;
		border-right: 2px solid #ffffff;
		border-bottom: 2px solid #ffffff;
    box-shadow: 1px 1px 0px 0px #000000 inset;
}

#window {
	margin: 3px 100px 3px 200px;
}

#battery.charging {
		color: #007e00;
}


#battery.warning:not(.charging) {
		color: #7e0000;
}

#network.disconnected {
	padding: 2px 8px 2px 12px;
}


#custom-spotify {
    color: rgb(102, 220, 105);
}
